<!DOCTYPE html>
<html ng-app="eventsApp">
<head>
    <meta charset="utf-8" />
    <title>Angular Test Application</title>
    <link href="../../Resource/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Resource/css/app.css" rel="stylesheet" />
</head>
<body>
    <h1>Angular Test Application AAA</h1>
    <div class="container">
        <div ng-controller="EventController">
            <div class="row">
                <h2>{{event.name | uppercase}}</h2>
            </div>
            <div class="row">
                {{event.date}}</br>
                {{event.location.address}}
                {{event.location.postcode}}
            </div>
            <hr/>
            <h3>Sessions</h3>
            Order by:
            <select ng-model="sortorder" class="input-smsll">
                <option selected value="name">Name</option>
                <option value="-upVoteCount">Votes</option>
            </select>
            <select ng-model="query" class="input-smsll">
                <option selected value="">All</option>
                <option value="beginer">Beginer</option>
                <option value="inter">Intermediate</option>
                <option value="expert">Expert</option>
            </select>

            <ul>
                <li ng-repeat="session in event.sessions | orderBy:sortorder | filter:query" ng-class-odd="myClass">
                    <div>
                        <div>Vote Count: {{session.upVoteCount}}</div>
                        <div class="votingButton" ng-click="upVoteSession(session)">
                            <span>Up Vote</span>
                        </div>
                        <div class="votingButton" ng-click="downVoteSession(session)">
                            <span>Down Vote</span>
                        </div>
                    </div>
                    <div>Session Name: {{session.name}}</div>
                    <div>Duration: {{session.duration | durations}}</div>
                    <div>Duration: {{session.level}}</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h2>Duration Filter Test</h2>
        <div ng-controller="FilterSampleController">
            <div>Duration 1: {{data.duration1}}</div>
            <div>Duration 2: {{data.duration2}}</div>
            <div>Duration 3: {{data.duration3}}</div>
        </div>
    </div>
        <!--Load Scripts-->
        <script src="../../Resource/js/lib/jquery-3.1.1.min.js"></script>
        <script src="../../Resource/js/lib/underscore-min.js"></script>
        <script src="../../Resource/js/lib/bootstrap.min.js"></script>
        <script src="../../Resource/js/lib/angular.min.js"></script>
        <script src="../../Resource/js/app.js"></script>
        <script src="../../Resource/js/services/eventData.js"></script>
        <script src="../../Resource/js/controllers/EventController.js"></script>
        <script src="../../Resource/js/filters.js"></script>
</body>
</html>
