
<!DOCTYPE html>

<html ng-app="eventsApp">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Angular Test Application</title>
    <link href="~/Resource/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Resource/css/app.css" rel="stylesheet" />
</head>
<body>
    <h1>Angular Test Application</h1>
    <h3>Date: {{myDate}}</h3>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/Resource/js/lib/jquery-3.1.1.min.js"></script>
    <script src="~/Resource/js/lib/underscore-min.js"></script>
    <script src="~/Resource/js/lib/bootstrap.min.js"></script>
    <script src="~/Resource/js/lib/angular.min.js"></script>
    <script src="~/Resource/js/app.js"></script>
    <script src="~/Resource/js/services/eventData.js"></script>
    <script src="~/Resource/js/controllers/EventController.js"></script>
    <script src="~/Resource/js/controllers/LocaleSampleController.js"></script>
    <script src="~/Resource/js/filters.js"></script>
    <script src="~/Resource/js/controllers/FilterSampleController.js"></script>
</body>
</html>
